!!! 5
%html{ :lang => 'nl' }
  %head
    %meta{ :charset => 'utf-8' }
    %title Publicum Films
    /
      Logo: http://openclipart.org/detail/19703/whale-by-stumbles
      Site: Arjan Eising - @eising
      Colours: http://www.colourlovers.com/palette/1700391/Rear_Window
    %meta{ :name => 'viewport', :content => 'width=device-width,initial-scale=1,maximum-scale=2,minimum-scale=1' }
    %link{ :rel => 'stylesheet', :media => 'screen,projection', :href => '/styles/screen.css' }
    %meta{ :property => 'og:description', :content => 'Publicum Films maakt films volgens het open source principe' }
    %meta{ :property => 'og:image', :content => 'http://publicumfilms.org/images/square-whale.png' }
    %meta{ :property => 'og:title', :content => 'Publicum Films' }
    %meta{ :property => 'og:url', :content => 'http://publicumfilms.org/' }

  %body
    %header
      %h1 Publicum Films

      %nav
        %ul
          %li
            %a{ :href => '#filosofie' } Filosoﬁe
          %li
            %a{ :href => '#projecten' } Projecten
          %li
            %a{ :href => '#contact' } Contact

    %main
      #filosofie
        %h1 Filosoﬁe

        %p Open films, voor iedereen.

        %p Het principe van open source software toepassen op films. Zo veel mogelijk bronbestanden openbaar maken in een zo vroeg mogelijk stadium.

        %p Door samenwerking tussen mensen, waar ook ter wereld, kan een solide film worden neergezet.

        %p Kosten die gemaakt worden, zoals fysiek samen te komen om te filmen en de vaste lasten, kan worden bekostigd door een op te richten stichting.

      #projecten
        %h1 Projecten
        %ol.films
          %li
            %h1 Korte ﬁlm: Gepasseerd
            %p.meta Film van circa 5 minuten.
            %p.status Script in openbare bewerking.
            %p Bushokje. Een oude man. Een student. Een pittige tante. De locatie en de hoofdpersonages staan vast. Wat gebeurt er als ze tot het uiterste gedreven worden voor de bus arriveert?
            %p
              %a{ :href => 'https://github.com/publicum/gepasseerd-film' } Schrijf mee aan dit script!

      #contact
        %h1 Contact

        %p
          Mail:
          %a{ :href => 'mailto:info@publicumfilms.org' } info@publicumfilms.org

        %p
          Twitter:
          %a{ :href => 'https://twitter.com/publicumfilms' } @PublicumFilms

        %p
          GitHub:
          %a{ :href => 'https://github.com/publicum' } publicum