/* line 17, ../src/sass/screen.sass */
* {
  border: 0;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 24, ../src/sass/screen.sass */
html {
  height: 100%; }

/* line 27, ../src/sass/screen.sass */
body {
  background: #fef8ce;
  border: 0.25em solid #d8f6b6;
  color: #130805;
  font: 125% Sovba, "Times New Roman", Times, serif;
  min-height: 100%;
  padding: 1em; }

/* line 35, ../src/sass/screen.sass */
a {
  color: #b36e09;
  -webkit-transition: color 1.3s;
  -moz-transition: color 1.3s;
  -o-transition: color 1.3s;
  transition: color 1.3s; }
  /* line 39, ../src/sass/screen.sass */
  a:hover, a:focus {
    color: #fe9e0c;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

/* line 44, ../src/sass/screen.sass */
strong,
b {
  font-weight: bold; }

/* line 49, ../src/sass/screen.sass */
header h1 {
  font-size: 4em;
  padding: 0.25em;
  text-align: center;
  text-shadow: 0.0125em 0.0125em #4f4306, 0.0125em -0.0125em #4f4306, -0.0125em 0.0125em #4f4306, -0.0125em -0.0125em #4f4306; }
/* line 56, ../src/sass/screen.sass */
header nav ul {
  text-align: center; }
/* line 59, ../src/sass/screen.sass */
header nav li {
  display: inline-block; }
/* line 62, ../src/sass/screen.sass */
header nav a {
  display: block;
  font-size: 1.2em;
  padding: 0.25em 0.5em;
  text-decoration: none; }

/* line 68, ../src/sass/screen.sass */
main {
  max-width: 30em;
  margin: 0 auto;
  position: relative; }
  /* line 73, ../src/sass/screen.sass */
  main > div {
    margin: 5em 0; }
    /* line 76, ../src/sass/screen.sass */
    main > div > h1 {
      display: block;
      font-size: 4em;
      margin-bottom: 0.25em; }
  /* line 81, ../src/sass/screen.sass */
  main p {
    line-height: 1.4em;
    margin-bottom: 1.4em; }

/* line 85, ../src/sass/screen.sass */
ol.films {
  border-left: 0.5em solid #d8f6b6;
  padding: 1em; }
  /* line 89, ../src/sass/screen.sass */
  ol.films h1 {
    font-size: 2em; }

@media only screen and (min-width: 40em) {
  /* line 93, ../src/sass/screen.sass */
  body {
    border-width: 0.5em;
    padding: 2em; }

  /* line 97, ../src/sass/screen.sass */
  ol.films {
    border-left-width: 1em;
    padding: 2em; } }
